body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    color: #fff;
    padding: 1rem 6rem 0 0;
    font-size: 1.3em;
    font-weight: bolder;
}

nav ul {
    text-decoration: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    padding-left: 1.5rem;
    list-style: none;
}

header {
    background-image: url('../images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
}

h1, h3 {
    text-align: center;
}

.contenedor {
    margin: 0 auto;
    width: 50%;
    background-color: floralwhite;
    position: absolute;
    top: 310px;
    right: 20px;
    left: 20px;
    padding: 2rem 3rem;
    overflow: hidden;
}

article {
    /* background-color: orange; */
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 1rem 1rem;
    margin: 1rem 0;
}

/* botones stilos  */

.contenedor article .btnn {
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
}

.btn-backproject {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background: dodgerblue;
    color: #fff;
    position: relative;
    left: 10px;
}

.btn-bookmark {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    border-radius: 2rem;
    padding: 0;
    border: none;
    width: 9rem;
    text-align: right;
    color: gray;
    position: absolute;
    right: 10px;
    height: 3.5rem;
    text-align: right;
    padding-right: 0.9rem;
}

.cont-bookmark {
    position: relative;
    top: -55px;
    height: auto;
}

.btn-bookmark svg {
    position: absolute;
    left: 0;
    top: 0;
}

.averages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.averages h4, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.aver-1, .aver-2, .aver-3 {
    width: 12rem;
    background: cyan;
    height: 4rem;
    padding-top: 1rem;
}

progress {
    width: 100%;
    margin: 2rem 0;
}

.about-project {
    text-align: left;
    font-weight: 800;
}

.text-description p {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 2rem;
}

.card, .card-footer, .card-footer-disable {
    display: flex;
    justify-content: space-between;
}

/* estilos de la ventana modal  */

.container-modal-1 {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.modal-header {
    position: relative;
}

.modal-title {
    text-align: left;
}

.close {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 0;
    top: -15px;
    color: gray;
    font-size: 1rem;
    font-weight: 800;
}

 .close:hover {
    font-size: 1.3rem;
    cursor: grab;
    color: darkgray;
}
.item-container {
    border: solid 1px;
    border-radius: .5rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
}
.item-container2{
    display: flex;
    justify-content: space-between;
    
}
.l101{
margin-right: 1rem;
}


.card-modal-title {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}

.left-align {
    display: flex;
    
}
.left-align-pledge{
    display: flex;
    /* justify-content: space-around; */
    /* padding-right: 3rem; */
}
.left-paragraph {
    text-align: left;
    margin-left: 2rem;
}
